{% extends "mks/parties_members_base.html" %}
{% load i18n %}

{% block other_type_link %}{% url 'parties-members-list-raw' knesset_number %}{% endblock %}
{% block other_type_name %}{% trans "Text only" %}{% endblock %}

{% block other_knesset %}
     <a href="{{kn.get_absolute_url}}">{{kn}}</a>
{% endblock %}

{% block actual_content %}
    <li>
        <h2><a href="{{party.get_absolute_url}}">{{party.name}}</a>  ({{party.current_members.count}}{#{% trans "MKs" %}#})</h2>
        {% include "mks/member_photos.html" with members=party.current_members %}
    </li>
{% endblock %}
